*{
  font-family: Nunito sans;
}

*:focus {
  outline: none;
}

.blue-focus {
  color: #6379f4;
}

body {
  background-color:  #fafcff;
}

.content {
  background-color: #FFFFFF;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');

.text-success {
  color: #1EC15F !important;
}

.text-danger {
  color:#FF5B37 !important;
}

/* .row {
  height: 100vh;
} */

.col.left {
  background: url(./assets/img/Mask\ Group.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.btn {
  color: #88888F;
}

.btn:hover {
  background-color: #6379f4;
  color: #ffffff;
}

.wrapper-home {
  height: 100vh;
}

.wrapper-home .header {
  height: 18%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.header-mobile {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.wrapper-home .footer {
  height: 7%;
}

.rounded {
  border-radius: 25px!important;
}

.text-primary {
  color: #6379F4 !important;
}

.bg-primary {
  background-color: #6379F4 !important;
}

.brand {
  font-weight: 700;
  font-size: 29px;
}

.sidebar {
  width: 18%;
}

.btn-transfer {
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-primary {
  background-color: #6379F4 !important;
  width: 15%;
}

.profile-box {
  padding: 15px;
  margin-bottom: 15px;
  background: #e5e8ed;
  border-radius: 10px;
  cursor: pointer;
}

.profile-text {
  margin: 0;
  font-size: 16px;
  line-height: 28px;
  color: #4d4b57;
}

.pincode-input-container {
  display: flex;
  justify-content: space-between;
}

.pincode-input-text {
  height: 60px!important;
  border-radius: 10px;
  border: 1px solid rgba(169, 169, 169, 0.6)!important;
  background: #FFFFFF!important;
}

.pincode-input-text:focus {
  border: 1px solid #6379F4!important;
}

.contacts {
  cursor: pointer;
}

.icon {
  color: black;
}

.icon:hover {
  border-left: 3px solid #6379f4;
  color: #6379f4 !important;
}